<div class="nav-wrapper">
  <div class="sections">
    <div (click)="getColor('#9af3cf', 0)" class='section-btn a1'>A1</div>
    <div (click)="getColor('#63dbab', 1)" class='section-btn a2'>A2</div>
    <div (click)="getColor('#f4e99d', 2)" class='section-btn b1'>B1</div>
    <div (click)="getColor('#e7e74f', 3)" class='section-btn b2'>B2</div>
    <div (click)="getColor('#89e4f2', 4)" class='section-btn c1'>C1</div>
    <div (click)="getColor('#4eb1e2', 5)" class='section-btn c2'>C2</div>
    <a routerLink='' class='section-btn dictionary'>Словарь</a>
  </div>
  <a routerLink='' class='section-btn game'>Спринт</a>
  <a routerLink='' class='section-btn game'>Аудиовызов</a>
</div>
