<app-page-container>
  <header class="wrapper">
    <app-header></app-header>
  </header>
  <main>
    <div class="main-wrapper">
      <app-logo></app-logo>
      <app-welcome-block ></app-welcome-block>
      <hr class='line'>
      <app-description></app-description>
      <hr class='line'>
      <app-education-block></app-education-block>
      <hr class='line'>
      <app-games-block></app-games-block>
      <hr class='line'>
      <app-statistic-block></app-statistic-block>
      <hr class='line'>
      <app-about-block id='about'></app-about-block>
    </div>
  </main>
  <footer class="wrapper">
    <app-footer-block></app-footer-block>
  </footer>
</app-page-container>

