<app-page-container>
  <header>
    <!-- 1.header-->
  </header>
  <main>
    <div class="main-wrapper">
      <app-logo></app-logo>
      <app-welcome-block ></app-welcome-block>
      <hr class='line'>
      <app-description></app-description>
      <hr class='line'>
      <app-education-block></app-education-block>
      <hr class='line'>
      <app-games-block></app-games-block>
      <hr class='line'>
      <app-statistic-block></app-statistic-block>
      <hr class='line'>
      <app-about-block></app-about-block>
    </div>
  </main>
  <footer>
      <!-- 9.footer-->
  </footer>
</app-page-container>

