<div class="about-wrapper">
  <div class="tittle">
    <img class="icon" src="../../../../../assets/team-icon.png" alt="icon">
    <h3>О команде</h3>
  </div>
  <div class="about-card-left">
    <div class='img-wrapper' style="background-image: url('../../../../../assets/Alex.jpg')"></div>
    <div class='description'>
      <h4>Алексей Войтеховский</h4>
      <p>
        Кратко о себе + описанием вклада в разработку приложения!
      </p>
    </div>
  </div>
  <div class="about-card-right">
    <div class='description'>
      <h4>Игорь Новицкий</h4>
      <p>
        Кратко о себе + описанием вклада в разработку приложения!
      </p>
    </div>
    <div class='img-wrapper' style="background-image: url('../../../../../assets/Igor.jpg')"></div>
  </div>
  <div class="about-card-left">
    <div class='img-wrapper' style="background-image: url('../../../../../assets/Ivan.jpg')"></div>
    <div class='description'>
      <h4>Иван Гаманович</h4>
      <p>
        Кратко о себе + описанием вклада в разработку приложения!
      </p>
    </div>
  </div>
</div>
