<div class="header">
  <div class="timer">{{ seconds }}</div>
  <div class="exit" (click)="endGame()">+</div>
</div>
<div class="score">{{ score }}</div>
<div
  class="game-block"
  [ngClass]="wrong ? 'wrong-ans' : ''"
  [ngClass]="correct ? 'correct-ans' : ''"
>
  <div class="progress">
    <div
      class="circle"
      [ngClass]="streak > 0 && streak < 12 && streak !== 4 && streak !== 8 ? 'streak' : ''"
      [ngClass]="streak > 11 ? 'hide' : ''"
    ></div>
    <div
      class="circle"
      [ngClass]="streak === 2 || streak === 3 || streak === 6 || streak === 7 || streak === 10 || streak >= 11 ? 'streak' : ''"
    ></div>
    <div
      class="circle"
      [ngClass]="streak === 3 || streak === 7 || streak === 11 ? 'streak' : ''"
      [ngClass]="streak > 11 ? 'hide' : ''"
    ></div>
  </div>
  <div class="points">+{{ points }} очков за слово</div>
  <div class="birds">
    <div class="bird bird1"></div>
    <div class="bird bird2"></div>
    <div class="bird bird3"></div>
    <div class="bird bird4"></div>
    <div class="branch"></div>
  </div>
  <div class="word-en">{{ word.word }}</div>
  <div class="word-ru">{{ translate }}</div>
  <div class="answer">
    <button class="wrong" (click)="answer(false)">Неверно</button>
    <button class="correct" (click)="answer(true)">Верно</button>
  </div>
  <div class="answer-key">
    <span class="left-arrow">←</span>
    <span class="right-arrow">→</span>
  </div>
</div>
