  <div class="statistick-wrapp">
    <div class="statick-block">
      <div class="head-stat">
        <h3>Результат игры</h3>
      </div>
      <div class="main-stat">
        <div class="left-side">
          <h3>Процент правильно указанных слов:</h3>
          <p>33%</p>
        </div>
        <div class="right-side">
          <div class="word wrapper">
            <div class="learned">
              <h3>Всего выучено слов: ХХХ</h3>
              <span>PPPP</span>
              <span>PPPP</span>
              <span>PPPP</span>
            </div>
            <div class="mistakes">
              <h3>Допущено ошибок: XXX</h3>
              <span>PPPP</span>
              <span>PPPP</span>
              <span>PPPP</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
