<div class="audio-play-wrapp">
  <div class="sound-btn">
    <button type="button">
      <span class="logo-btn">
        SOUND
      </span>
    </button>
  </div>
  <div class="answers-btns">
      <div class="answer-item">
        <div class="item-number">1</div>
        <span class="item-word">Неприкасаемый</span>
        <span class="item-block-word"></span>
      </div>
    <div class="answer-item">
      <div class="item-number">2</div>
      <span class="item-word">Неприкасаемый</span>
      <span class="item-block-word"></span>
    </div>
    <div class="answer-item">
      <div class="item-number">3</div>
      <span class="item-word">Неприкасаемый</span>
      <span class="item-block-word"></span>
    </div>
  </div>
  <div class="follow-btn">
    <button type="button">
      <span class="btn-follow">Не знаю</span>
      <span class="btn-block-word"></span>
    </button>
  </div>
</div>
