.audio-main-wrapper {
}

.audio-wrapper {
  background: #9fc4ea;
  padding: 4rem;

}

.audio-wrap-levels {
  width: 60rem;
  height: 34rem;
  margin: 0 auto;
  border: 2px solid red;
  background: url('../../../assets/audoi-bak.jpg') no-repeat center;


}
