.wrapper {
  width: 60%;
  margin: 0 auto;
}

.audio-title {
  padding-top: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 2rem;

  .title {
    font-size: 2rem;
    font-weight: 500;
    color: #212529;
    opacity: .9;
    letter-spacing: 13px;
  }

  @media (max-width: 690px) {

    .title {
      font-size: 1.5rem;
      letter-spacing: 5px;
    }
  }

  @media (max-width: 550px) {

    .title {
      font-size: 1.2rem;
      letter-spacing: 3px;
    }
  }

  .description {
    color: #ffffff;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5;
  }

  h2 {
    color: #7a0d0d;
    text-align: center;
  }

}

ul {
  list-style: none;
}

.audio-btn {
  cursor: pointer;
  width: 27rem;
  height: 2rem;
  display: block;
  font-size: 1.1em;
  font: bold 14px arial;
  text-transform: uppercase;
  padding: 10px 15px;
  margin: 20px auto;
  color: #ccc;
  background-color: #ab3838;
  background-image: linear-gradient(to left top, #815d5d 0%, #a49292 100%);
  border: none;
  border-radius: 15px;
  text-shadow: 0px -1px 0px #000;
  box-shadow: 0px 1px 0px #666,0px 5px 0px #444,0px 6px 6px rgba(0, 0, 0, .6);
  transition: ease all .15s;
  animation: none;
}

.audio-btn:active {
  color: #fff;
  text-shadow: 0px -1px 0px #444,0px 0px 5px #ffd,0px 0px 8px #fff;
  box-shadow: 0px 1px 0px #666,0px 2px 0px #444,0px 2px 2px rgba(0, 0, 0, .9);
  transform: translateY(3px);
  animation: none;
}

.audio-btn:hover, .audio-btn:focus{
  animation: linear 1.2s light infinite;
}




@-webkit-keyframes light{
  0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
  50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
  100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-moz-keyframes light{
  0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
  50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
  100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@-o-keyframes light{
  0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
  50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
  100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}
@keyframes light{
  0%   { color: #ddd; text-shadow: 0px -1px 0px #000; }
  50%   { color: #fff; text-shadow: 0px -1px 0px #444, 0px 0px 5px #ffd, 0px 0px 8px #fff; }
  100% { color: #ddd; text-shadow: 0px -1px 0px #000; }
}


@media (max-width: 991px) {
  .audio-btn {
    width: 100%;
  }

}
