.card-wrapper {
  width: 23rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  &:hover {
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }

  h3 {
    margin-bottom: 1.3rem;
  }

  p {
    margin-bottom: 1.3rem;
    text-align: center;
  }

  img {
    width: 100%;
    height: 80%;

  }

}



@media screen and (max-width:768px) {
  .card-wrapper {
    width: 20rem;

    p {
      font-size: 14px;
    }
  }
}

@media screen and (max-width:550px) {
  .card-wrapper {
    width: 13rem;

    p {
      font-size: 10px;
    }
  }
}
