<div class="description-wrapper">
  <div class="tittle">
    <img class="icon" src="../../../../../assets//ach-icon.png" alt="icon">
    <h3>Возможности приложения</h3>
  </div>
  <div class="discription-card-left">
    <img class='logo-img' src="../../../../../assets/textbook-banner.jpg" alt="textbook-banner">
    <div class='description'>
      <h4>Изучай</h4>
      <p>
        В учебнике собраны 3600 часто употребляемых английских слов, c определением и примерами на русском и английском. Изучай в своем темпе!
      </p>
    </div>
  </div>
  <div class="discription-card-right">
    <div class='description'>
      <h4>Повторяй</h4>
      <p>
        Все изученные слова попадают в твой личный словарь. Ты можешь отметить сложные для тебя слова, чтобы знать, на что чаще обращать внимание!
      </p>
    </div>
    <img class='logo-img' src="../../../../../assets/dictionary-banner.jpg" alt="dictionary-banner">
  </div>
  <div class="discription-card-left">
    <img class='logo-img' src="../../../../../assets/game-banner.jpg" alt="game-banner">
    <div class='description'>
      <h4>Играй</h4>
      <p>
        В твоем распоряжении 2 увлекательные игры для развития восприятия на слух, письма и запоминания новых слов!
      </p>
    </div>
  </div>
  <div class="discription-card-right">
    <div class='description'>
      <h4>Анализируй</h4>
      <p>
        Отслеживай свой прогресс в статистике, следи за количеством выученых слов всего и за каждый день!
      </p>
    </div>
    <img class='logo-img' src="../../../../../assets/stat-banner.jpg" alt="stat-banner">
  </div>
</div>

