.wrapper {
  max-width: 100vw;
  height: calc(100vh - 70px);
  background-image: url('../../../assets/sprint-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}