.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/sprint-background.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}