.wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  border-radius: 6px;
  background-color: #2c3e50;
  color: white;
  font-weight: 300;
  padding: 10px 0 15px 0;
}

.logo-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

h1 {
  font-weight: 400;
  font-size: 3rem;
  text-shadow: 1px 3px 2px #d31b1b;
  padding-bottom: 15px;
}

.logo {
  width: auto;
  height: 80px;
}

p {
  padding-right: 10px;
}