<div class="audio-title">
  <h2> Пожалуйста, выберите уровень: </h2>
</div>
<div class="audio-levels">
  <ul class="audio-items">
    <li class="item">
      <button type="button" class="audio-btn"> Level 1</button>
    </li>
    <li class="item">
      <button type="button" class="audio-btn"> Level 2</button>
    </li>
    <li class="item">
      <button type="button" class="audio-btn"> Level 3</button>
    </li>
    <li class="item">
      <button type="button" class="audio-btn"> Level 4</button>
    </li>
    <li class="item">
      <button type="button" class="audio-btn"> Level 5</button>
    </li>
    <li class="item">
      <button type="button" class="audio-btn"> Level 6</button>
    </li>
  </ul>
</div>
