<div class="audio-play-wrapp">
  <div class="audio-block">
    <div class="sound-btn">
      <button type="button" class="button-logo" (click)="sound()">
        <img src="../../../../../assets/Sound-Icon.svg" alt="logo" class="logo-audio">
      </button>
    </div>
    <div class="answers-btns">
      <div class="answer-item"
           *ngFor="let word of wordRightDisp;
           index as i">
        <div class="item-number" [attr.data-index]="i + 1">{{i+1}}</div>
        <span class="item-word">{{word.word}}</span>
        <span class="item-block-word"></span>
      </div>
<!--      <div class="answer-item">-->
<!--        <div class="item-number">2</div>-->
<!--        <span class="item-word">Неприкасаемый</span>-->
<!--        <span class="item-block-word"></span>-->
<!--      </div>-->
<!--      <div class="answer-item">-->
<!--        <div class="item-number">3</div>-->
<!--        <span class="item-word">Неприкасаемый</span>-->
<!--        <span class="item-block-word"></span>-->
<!--      </div>-->
<!--      <div class="answer-item">-->
<!--        <div class="item-number">4</div>-->
<!--        <span class="item-word">Неприкасаемый</span>-->
<!--        <span class="item-block-word"></span>-->
<!--      </div>-->
<!--      <div class="answer-item">-->
<!--        <div class="item-number">5</div>-->
<!--        <span class="item-word">Неприкасаемый</span>-->
<!--        <span class="item-block-word"></span>-->
<!--      </div>-->
    </div>
  <div class="follow-btn">
    <button type="button">
      <span class="btn-follow">Не знаю</span>
      <span class="btn-block-word"></span>
    </button>
  </div>
  </div>
</div>
