<div class="education-wrapper">
  <div class="tittle">
    <img class="icon" src="assets/logo-book-m.svg" alt="icon">
    <h3>Обучение</h3>
  </div>
  <div class="educ-blocks">
    <app-card-block class="first-block"
      [titleCard]="titleEducationBook"
      [currentImage]="educationImgBook"
      [cardIssue]="bookIssue"
      [titleFromBlock]="educBtnTitle"
      [imgFromBlock]="bookImgSrc"
      [page]="'textbook'"
    >
    </app-card-block>
    <app-card-block class="second-block"
      [titleCard]="titleEducationDiction"
      [currentImage]="educationImgDiction"
      [cardIssue]="dictionIssue"
      [titleFromBlock]="educBtnTitle"
      [imgFromBlock]="dictionaryImgSrc"
      [page]="'dictionary'"
    >
    </app-card-block>
  </div>
</div>
