.nav-wrapper{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.sections{
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.section-btn {
  height: 30px;
  width: 40px;
  padding: 5px;
  text-align: center;
  border-radius: 3px;
  box-shadow: 2px 2px 3px 2px rgb(111, 111, 109);
  cursor: pointer;
}

.stud {
  width: 100px;
  background-color: rgb(99, 219, 171);
}

.diff {
  width: 100px;
  background-color: rgb(78, 177, 226);
}

.textbook {
  width: 80px;
  background-color: rgb(243, 123, 123);
}

.game {
  width: 110px;
  border-radius: 20px;
  background-color: rgb(213, 224, 251);
}

.section-btn:active {
  box-shadow: none;
}

.active {
  box-shadow: none;
}

.game:active {
  background-color: rgb(213, 224, 251);
}

@media (max-width: 767px) {
  .nav-wrapper{
    flex-wrap: wrap;
    justify-content: center;
  }

  .sections{
    order: 1;
    flex-wrap: wrap;
    justify-content: center;
  }
}