.wrapper {
  max-width: 100vw;
  min-height: 100vh;
  background-image: url('../../../assets/background.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.title {
  padding: 5% 0;
  text-align: center;
  font-size: 6rem;
  font-weight: normal;
  color: #2c3e50;;
}

.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
