  <nav class="navigation">
    <ul class="nav-list">
      <li class="nav-item"><a href="#" class="nav-link">Главная</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Тренировка</a></li>
      <li class="nav-item">
        <select class="select-nav">
          <option value=""> <p class="option-main">Игры</p></option>
          <option class="option-nav"><a href="#" class="nav-link">Аудиовызов</a> </option>
          <option class="option-nav"><a href="#" class="nav-link">Спринт</a></option>
        </select>
      </li>
      <li class="nav-item"><a href="#" class="nav-link">Словарь</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Статистика</a></li>
      <li class="nav-item"><a href="#" class="nav-link">Настройки</a></li>
      <li class="nav-item"><a href="#" class="nav-link">О команде</a></li>
    </ul>
  </nav>
