<div class="footer">
  <div class="wrapper-footer">
    <div class="logo">
      <a href="https://rs.school/" target="_blank" class="rs-logo">
        <img src="./assets/rs_school_js.svg" alt="logoRS">
      </a>
    </div>
    <div class="footer-developers">
      <div class="foot-item">
        <a href="https://github.com/alex-bars25" class="link-m"> Alexey Voitehovskiy
        <img src="assets/GitHub-Mark-120px-plus.png" class="git-logo">
        </a>
      </div>
      <div class="foot-item">
        <a href="https://github.com/Igor-Novitski" class="link-m"> Igor Novitski
        <img src="assets/GitHub-Mark-120px-plus.png" class="git-logo">
        </a>
      </div>
      <div class="foot-item">
        <a href="https://github.com/IGMiller777" target="_blank" class="link-m"> Ivan Gamanovich
        <img src="assets/GitHub-Mark-120px-plus.png" class="git-logo">
        </a>
      </div>
    </div>
  <div class="footer-year">
    <p>RS Lang 2022
    </p>
  </div>
  </div>
</div>
